 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      background-color: #f8f9fb;
      color:  #333;
    }

    header {
      background-color: #fff;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }
    
    header h1 {
      color: #1d4ed8;
    }

    nav a {
      margin-left: 20px;
      text-decoration: none;
      color: #333;
    }
.hero {
  padding: 80px 40px;
  text-align: center;
   background: linear-gradient(135deg, #1d4ed8, #3b82f6);
  color: white;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.cta-btn {
  background-color: white;
  color: #1d4ed8;
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
}
.cta-btn:hover {
  background-color: #e0e7ff;;
}
.features {
  padding: 60px 40px;
  background-color: #fff;
  text-align: center;
}
.features h2 {
  margin-bottom: 40px;
}
.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.feature {
  max-width: 300px;
}
.testimonials {
  background-color: #e6eef7;
  padding: 60px 40px;
  text-align: center;
}

.testimonial-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.testimonial {
  background: white;
  padding: 20px;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.contact {
  padding: 60px 40px;
  background-color: #ffffff;
  text-align: center;
}
form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
form input,form textarea{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
form button {
  width: 100%;
  padding: 12px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
footer {
  background-color: #1f2937;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.socials a {
  margin: 0 10px;
  color: #93c5fd;
}
@media (max-width: 768px) {
  .features-grid,
  .testimonial-list {
    flex-direction: column;
    align-items: center;
  }
}
  .hero h1 {
    font-size: 2rem;
  }